<div data-role="header">
  <h1>Category - </h1>
  <%= link_to 'Add', new_category_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% case @category.name %>
      <% when "Auto" %>
        <% @sub_cats = AutoCat.all %>
      <% when "Home" %>
        <% @sub_cats = HomeCat.all %>
    <% end %>

    <% @sub_cats.each do |cat| %>
      <li>
        <%= link_to cat.name, cat %>
        <%= link_to 'edit category', edit_category_path(cat), "data-icon" => "gear" %>
      </li>
    <% end %>
  </ul>
</div>

